body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.img1{
  background: url(../img/0.png);
  width: 105%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  top: -20px;
  left: -20px;
  position: absolute;
}
.img2{
  background: url(../img/1.png);
  width: 105%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  top: -20px;
  left: -20px;
  position: absolute;
}
.img3{
  background: url(../img/2.png);
  width: 105%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  top: -20px;
  left: -20px;
  position: absolute;
}